// header
.header {
	padding: 42px 0 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: transparent;
	transition: 0.2s ease;
	&.fixed {
		position: fixed;
		padding: 20px 0;
		background-color: $white;
		box-shadow: 0px 2px 12px 0px rgba(28, 15, 15, 0.08);
		.header__nav {
			opacity: 1;
			pointer-events: initial;
			@include d(992) {
				opacity: 0;
				pointer-events: none;
			}
			&.active {
				@include d(992) {
					opacity: 1;
					pointer-events: initial;
				}
			}
		}
	}
	&.in-view-detect {
		transform: translate(0, -20px);
	}
	@include d(768) {
		padding: 30px 0 20px;
	}

	&-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.btns-row {
			margin: 0;
			@include d(992) {
				padding: 0 16px;
				justify-content: center;
				gap: 16px;
			}
			.btn {
				height: 48px;
				@include d(375) {
					height: auto;
				}
				img {
					height: 100%;
				}
			}
		}
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 0 1 100%;
		margin-left: 80px;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.2s ease;
	}
	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 0 1 100%;
		margin-left: 80px;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.2s ease;
		@include d(992) {
			position: fixed;
			display: block;
			top: 0;
			left: 0;
			width: 100vw;
			margin-left: 0;
			// justify-content: flex-end;
			height: 100vh;
			background-color: $bgColor;
			pointer-events: none;
			opacity: 0;
			transform: translateX(-20px);
			transition: opacity 0.5s ease-out, transform 0.5s ease-out;

			&.active {
				opacity: 1;
				pointer-events: initial;
				transform: translateX(0);
			}

			.nav-list {
				flex-direction: column;
				align-items: flex-start;
				padding: 90px 16px 0 16px;
				justify-content: flex-start;
				font-size: 24px;
				font-weight: 600;
				margin-bottom: 50px;
				&__item {
					border-bottom: 1px solid #dcdcdc;
					width: 100%;
					// padding-right: 22px;
				}
			}
		}
	}
}

.logo {
	display: inline-block;
	margin-top: -10px;
	position: relative;
	z-index: 1;
	// max-width: 136px;
	flex: 0 0 136px;
	width: 136px;
	@include d(768) {
		width: 120px;
		flex: 0 0 120px;
		// max-width: 120px;
	}
}

.nav {
	&-list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		&__item,
		li {
			&:not(:last-child) {
				margin-right: 12px;
			}
		}

		&__link,
		a {
			padding: 10px 15px;
			@include d(992) {
				padding: 10px 0;
			}
		}
	}
}

.burger {
	position: relative;
	width: 22px;
	height: 16px;
	z-index: 101;
	display: none;

	@include d(992) {
		display: inline-block;
	}

	&_item {
		position: absolute;
		width: 22px;
		height: 2px;
		background-color: $black;
		left: 0;
		transition: 0.5s ease-out;

		&:first-child {
			top: 0;
		}

		&:nth-child(2) {
			top: 50%;
			margin-top: -1px;
		}

		&:last-child {
			bottom: 0;
		}
	}

	&.active {
		.burger_item {
			&:first-child {
				transform: rotate(45deg);
				top: 7px;
			}

			&:nth-child(2) {
				width: 0;
			}

			&:last-child {
				transform: rotate(-45deg);
				bottom: 7px;
			}
		}
	}
}
